
  .img {
    display: flex;
    justify-content: left;
  }


.title {
    /* common style for 4div(s) in aboutReact components */
    font-size: 20px;
    font-weight: bold;
  }
  
  .p {
    /* common style for 4div(s) in aboutReact components */
    font-size: 0.8rem;
  }